ul.ui-autocomplete {
font-size: 12px !important;
height: auto;
max-height: 250px;
width: auto;
min-width: 250px;
overflow: auto;
padding: 10px 15px;
}
ul.ui-autocomplete li {
border-bottom: 1px dashed #D1D1D1;
}
