ul.ui-autocomplete {
	font-size: 12px !important;
	height: auto !important;
	max-height: 250px !important;
	width: auto !important;
	min-width: 250px !important;
	overflow: auto !important;
	padding: 10px 15px !important;
}
ul.ui-autocomplete li {
	border-bottom: 1px dashed #D1D1D1 !important;	
}
