@CHARSET "UTF-8";

table.dataTable th {
	border-bottom: 3px solid #d57c24 !important;
}
table.dataTable td {
	background-color: white !important;
}
div.dataTables_info, div.dataTables_paginate {
	margin: 25px 0 0 10px !important; 	
}
div.dataTables_paginate {
	margin: 25px 10px 0 0; 	
}
span.hit {
	color: #d57c24;	
}
div#tableShowAllLess span {
	cursor: pointer;
	padding: 3px 5px;
	border: 1px solid gray;
	font-size: 11px;
	background-color: #F4F4F4;
	border: 1px solid #CDC8B1;
}
div#foundEntries, div#tableShowAllLess {
	padding-left: 10px;	
}
div#mpi2-search table.dataTable th {
	cursor: text !important; /* still need to do this even though dataTable is told not to sort by bSort: false */ 
}
